.selecetd {
    background-color: #185a9d;
    color: white;
}

.text-style{
    white-space: pre-wrap !important
}


.float-left {
    float: left;
    display: flex;
    width: 80%;
    padding-left: 6px;
    ion-chip {
        border-bottom-left-radius: 0;
    }
}

.float-right {
    float: right;
    display: flex;
    width: 80%;
    ion-chip {
        border-bottom-right-radius: 0;
    }
}

img {
  max-width: 12% !important;
  height: 2.5rem;
  padding: 7px 0;
}

ion-chip{
    background-color: white;
}