.text-style{
    white-space: pre-wrap !important
}


.float-left {
    float: left;
    display: flex;
    width: 80%;
    padding-left: 6px;
    ion-chip {
        border-bottom-left-radius: 0;
    }
}

.float-right {
    float: right;
    display: flex;
    margin-left: 20%;

    ion-chip {
        border-bottom-right-radius: 0;
    }
}

img {
  max-width: 12% !important;
  height: 2.5rem;
  padding: 7px 0;
}

ion-chip{
    background-color: white;
}

.selecetd.quizChip {
    background-color: #024f9d;
    color: white !important;
}

.quizChip {
    border: 2px solid #024f9d;
    color: #024f9d !important;
}

.selecetd.summary {
    background-color: #008840;
    color: white !important;
}

.summary {
    border: 2px solid #008840;
    color: #008840 !important;
}

.selecetd.impWords, .selecetd.aidchip {
    background-color: #e55a28;
    color: white !important;
}

.impWords, .aidchip {
    border: 2px solid #e55a28;
    color: #e55a28 !important;
}

