<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button style="color: black;"></ion-back-button>
    </ion-buttons>
    <ion-title>{{chapterName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <div style="display: flex; margin-top: 10px; overflow-x:auto; white-space: nowrap;">
    <div *ngFor="let chip of contents">
      <ion-chip [disabled]="disableSelect" [ngClass]="{'selecetd': chip.type == selectedChip}" (click)="navigateToContentDetails(chip)" [ngStyle]="{'background-color': chip.type == selectedChip ? chip?.colorSel : chip?.color}">
        <ion-icon name="{{chip?.name}}" color="white"></ion-icon>
        <ion-label>{{chip.type}}</ion-label>
      </ion-chip>
    </div>
  </div>
  <div *ngFor="let msg of messages">
    <div [ngClass]="{'float-right': msg.from === 0, 'float-left': msg.from === 1}">
      <img class="img" *ngIf="msg.from === 1" alt="bot" src="assets/bot.jpeg"/>
      <ion-chip style="height: auto;" *ngIf="!msg.innerHtml">
        <ion-label class="text-style" style="color: black;">{{msg.text}}</ion-label>
        <ion-label class="text-style" *ngIf="msg.from === 1 && msg.text == ''" style="color: black;">crafting ....</ion-label>
      </ion-chip>
      <ion-chip id="chip" style="height: auto;" *ngIf="msg.innerHtml"></ion-chip>
      <ion-icon *ngIf="msg.from === 0" name="person-circle-outline" style="width: 2rem !important; height: 1.5rem !important; padding: 7px 0; color: black;"></ion-icon>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-item [disabled]="disableSelect">
    <ion-input style="background-color: white; color: black;" placeholder="Ask your question" [(ngModel)]="question" (keyup.enter)="askQuestion()"></ion-input>
    <ion-button class="button button-clear" style="--box-shadow: none;" (click)="askQuestion()">
      <ion-icon name="send" style="width: 2rem; height: 1.5rem; padding: 7px 0;"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>