<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title style="font-size: 20px;">
      <ion-label>Ed Saathi</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="card" *ngFor="let userTypeConfig of supportedUserTypeConfig;">
      <div class="card-container" role="button" (click)="selectedUserType = userTypeConfig?.code; userType = userTypeConfig.name;" [class.selected]="selectedUserType === userTypeConfig?.code">
        <div class="check-icon">
            <img class="icon-check" alt="" [class.selected]="selectedUserType === userTypeConfig?.code" src="assets/imgs/ic_check.svg"/>
        </div>
        <img class="thumbnail" alt="" src="assets/{{ userTypeConfig?.image }}" [ngClass]="{'coming-soon-image': !userTypeConfig?.isActive}" />
        <h4 class="card-title sb__ellipsis sb__ellipsis--two">{{ userTypeConfig?.name }}</h4>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer>
  <div class="qr-btn-container">
    <div class="qr-btn" role="button" (click)="openQRScanner()">
      <img src="assets/ic_qr_scanner.svg" alt="">
      <span>Scan</span>
    </div>
  </div>
</ion-footer>
